In [1]:
!pip install pulp

Requirement already satisfied: pulp in /usr/local/lib/python3.6/dist-packages (2.3)
Requirement already satisfied: amply>=0.1.2 in /usr/local/lib/python3.6/dist-packages (from pulp) (0.1.2)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (2.4.7)
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (0.15.2)

#Model
Maximize $Z=8x_{1}+9 x_{2}+7x_{3}+6 x_{4}$

subject to

$0.5x_{1}+x_{2}+x_{3}+0.5x_{4}<=1800$

$2x_{1}+x_{2}+x_{3}+x_{4}<=2800$

$0.5x_{1}+0.5x_{2}+x_{3}+x_{4}<=3000$

$3x_{1}+x_{2}+2x_{3}+3x_{4}<=6000$

$x_{1}>=100,x_{2}>=600,x_{3}>=500,x_{4}>=400$

In [2]:
from pulp import *
import numpy as np
import pandas as pd

In [3]:
%ls

sample_data/

In [4]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Q1Data.csv to Q1Data.csv
User uploaded file "Q1Data.csv" with length 197 bytes

In [5]:
df=pd.read_csv('Q1Data.csv')

In [6]:
df

     A1   A2    A3   A4  Cost  Resource
0   0.5  1.0   1.0  0.5   8.0    1800.0
1   2.0  1.0   1.0  1.0   9.0    2800.0
2   0.5  0.5   1.0  1.0   7.0    3000.0
3   3.0  1.0   2.0  3.0   6.0    6000.0
4   NaN  NaN   NaN  NaN   NaN       NaN
5   4.0  2.0   1.0  NaN   8.0       8.0
6   3.0  2.0   NaN  NaN   4.0      10.0
7   1.0  1.0   1.0  NaN   2.0       4.0
8   NaN  NaN   NaN  NaN   NaN       NaN
9   2.0  1.0  -6.0  NaN   5.0      20.0
10  8.0 -3.0   6.0  1.0  -2.0      50.0
11  6.0  5.0  10.0  1.0   3.0      76.0

In [7]:
## Define Data

nvar=4
ncons=4
cost=df['Cost'].to_numpy()

Coff=df.iloc[0:4,0:4].to_numpy()
               

resources=list(df['Resource'].iloc[0:4])

In [8]:
# Define the model
model = LpProblem("LPP",LpMaximize)

# Define the decision variables
x = {i: LpVariable(name=f"x{i}", lowBound=0) for i in range(1, 5)}

# Define the decision variables
x[1] = LpVariable('x[1]', lowBound=100, cat='Continuous')
x[2] = LpVariable('x[2]', lowBound=600, cat='Continuous')
x[3] = LpVariable('x[3]', lowBound=500, cat='Continuous')
x[4] = LpVariable('x[4]', lowBound=400, cat='Continuous')


# Set the objective
model+=lpSum(cost[i-1]*x[i] for i in range(1,nvar+1))


# Add constraints

for j in range(ncons):
  model += lpSum(Coff[j,i-1]*x[i] for i in range(1,nvar+1))<=resources[j]

# Print Model
print(model)


# Solve the optimization problem
status = model.solve()

# Get the results
print('##############Solution of LPP is ##################\n\n')
print(f"status: {model.status}, {LpStatus[model.status]}")
print(f"objective: {model.objective.value()}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

LPP:
MAXIMIZE
8.0*x_1_ + 9.0*x_2_ + 7.0*x_3_ + 6.0*x_4_ + 0.0
SUBJECT TO
_C1: 0.5 x_1_ + x_2_ + x_3_ + 0.5 x_4_ <= 1800

_C2: 2 x_1_ + x_2_ + x_3_ + x_4_ <= 2800

_C3: 0.5 x_1_ + 0.5 x_2_ + x_3_ + x_4_ <= 3000

_C4: 3 x_1_ + x_2_ + 2 x_3_ + 3 x_4_ <= 6000

VARIABLES
100 <= x_1_ Continuous
600 <= x_2_ Continuous
500 <= x_3_ Continuous
400 <= x_4_ Continuous

##############Solution of LPP is ##################


status: 1, Optimal
objective: 17900.0
x_1_: 300.0
x_2_: 600.0
x_3_: 500.0
x_4_: 1100.0

#Model
Minimize $Z=8x_{1}+4 x_{2}+2x_{3}$

subject to

$4x_{1}+2x_{2}+1x_{3}<=8$

$3x_{1}+2x_{2}<=10$

$1x_{1}+1x_{2}+1x_{3}>=4$

$x_{1},x_{2},x_{3}>=0$

In [9]:
## Define Data

nvar=3
ncons=3
cost=df['Cost'].to_numpy()

Coff=df.iloc[5:8,0:4].to_numpy()
               
resources=list(df['Resource'].iloc[5:8])

In [10]:
# Define the model
model = LpProblem("LPP",LpMinimize)


# Define the decision variables
x = {i: LpVariable(name=f"x{i}", lowBound=0) for i in range(1, nvar)}


# Set the objective
model+=lpSum(cost[i-1]*x[i] for i in range(1,nvar))


# Add constraints

for j in range(ncons):
  model += lpSum(Coff[j,i-1]*x[i] for i in range(1,nvar))<=resources[j]

# Print Model
print(model)


# Solve the optimization problem
status = model.solve()

# Get the results
print('##############Solution of LPP is ##################\n\n')
print(f"status: {model.status}, {LpStatus[model.status]}")
print(f"objective: {model.objective.value()}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

LPP:
MINIMIZE
8.0*x1 + 9.0*x2 + 0.0
SUBJECT TO
_C1: 4 x1 + 2 x2 <= 8

_C2: 3 x1 + 2 x2 <= 10

_C3: x1 + x2 <= 4

VARIABLES
x1 Continuous
x2 Continuous

##############Solution of LPP is ##################


status: 1, Optimal
objective: 0.0
x1: 0.0
x2: 0.0

#Model
Maximize $Z=5x_{1}-2 x_{2}+3x_{3}$

subject to

$2x_{1}+1x_{2}-6x_{3}==20$

$8x_{1}-3x_{2}+6x_{3}+x_{4}<=50$

$6x_{1}+5x_{2}+10x_{3}+x_{4}<=76$

$x_{1},x_{2},x_{3},x_{4}>=0$

In [11]:
## Define Data

nvar=4
ncons=3
cost=df['Cost'].to_numpy()

Coff=df.iloc[9:12,0:4].to_numpy()
               
resources=list(df['Resource'].iloc[9:12])

In [12]:
# Define the model
model = LpProblem("LPP",LpMaximize)


# Define the decision variables
x = {i: LpVariable(name=f"x{i}", lowBound=0) for i in range(1, nvar)}


# Set the objective
model+=lpSum(cost[i-1]*x[i] for i in range(1,nvar))


# Add constraints

for j in range(ncons):
  model += lpSum(Coff[j,i-1]*x[i] for i in range(1,nvar))<=resources[j]

# Print Model
print(model)


# Solve the optimization problem
status = model.solve()

# Get the results
print('##############Solution of LPP is ##################\n\n')
print(f"status: {model.status}, {LpStatus[model.status]}")
print(f"objective: {model.objective.value()}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

LPP:
MAXIMIZE
8.0*x1 + 9.0*x2 + 7.0*x3 + 0.0
SUBJECT TO
_C1: 2 x1 + x2 - 6 x3 <= 20

_C2: 8 x1 - 3 x2 + 6 x3 <= 50

_C3: 6 x1 + 5 x2 + 10 x3 <= 76

VARIABLES
x1 Continuous
x2 Continuous
x3 Continuous

##############Solution of LPP is ##################


status: 1, Optimal
objective: 136.79999999999998
x1: 0.0
x2: 15.2
x3: 0.0